body {
    margin: 0;
    padding: 0;
    font-family: "FuturaPT-Book";
    background-color: #333;
    color: #f2f2f2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between; 
  padding: 2vh 16vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
}

.code-editor {
  flex: 1;
  margin: 5vh;
}

.ce {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.preview {
  flex: 1;
  border-left: 1px solid #ccc;
  padding: 20px;
  margin: 5vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #212121; /* Couleur de fond de la navbar */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #61dafb; /* Couleur du logo */
}

button {
  margin-left: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #61dafb; /* Couleur des boutons */
  color: white; /* Couleur du texte des boutons */
  border: none;
  border-radius: 5px;
}

.user-name {
  margin-left: 1em;
}

.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    margin-bottom: 5vh;
}
